:root {
    --background-color: #ffffff;
    --primary-color: #f6e9e0;
    --secondary-color: #b6a8a8;
    --text-color: #292323;
    --shadow-color: #292323;
    --light-color: #f6e9e0;
    --highlight-color: #ffeab0;
    --normal-font-size: 18px;
    --big-font-size: 22px;
    --huge-font-size: 26px;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Less Perfect DOS VGA';
    font-size: var(--normal-font-size);
}

.boxed {
    background-color: var(--secondary-color);
    border-top: 2px solid var(--light-color);
    border-right: 2px solid var(--shadow-color);
    border-bottom: 2px solid var(--shadow-color);
    border-left: 2px solid var(--light-color);
    color: var(--text-color);
}

.sticker {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 26px;
    height: 256px;
}

.highlight {
    background-color: var(--highlight-color);
}

.logo {
    font-weight: bold;
    font-size: var(--big-font-size);
}

.remove-style {
    text-decoration: none;
}

#file-input {
    display: none;
}

#container {
    display: flex;
    flex-direction: column;

    height: 100vh;

    background-image: url('assets/wallpaper.png');
}

#header {
    height: auto;
    width: 100%;

    background-color: var(--background-color);
    border-bottom: 2px solid var(--secondary-color);
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    width: 100%;

    gap: 7px;
    padding: 7px;
}

ul {
    display: inline;
}

li {
    list-style: none;
}

#chat {
    display: flex;
    flex-direction: column;
    height: 90vh;
    min-width: 720px;
    width: 100%;

    padding: 7px;
    gap: 7px;
    background-color: var(--background-color);
    border: 2px solid var(--secondary-color);
}

#chat > .tab-list {
    display: flex;
    justify-content: center;
    height: auto;
    background-color: var(--light-color);
}

#chat > .chat-log {
    flex-grow: 1;
    overflow-y: auto;
}

#chat > .input-field {
    height: auto;
    background-color: var(--light-color);
}

.message:hover {
    background-color: var(--light-color);
}

#sidebar {
    height: 90vh;
    min-width: 240px;
    width: 240px;
}

.sign-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 7px;
    padding: 7px;
    border: 2px solid var(--secondary-color);
}

.id, .username, .email, .password {
    display: flex;
    flex-direction: column;
}

.img, .video, .audio, .download {
    border: 2px solid var(--secondary-color);
    width: 33%;
}

@media (max-width: 1001px) {
    #sidebar, .sticker {
        display: none;
    }
}
