:root {
    --black-text: #000000;
    --white-text: #ffffff;
    --tiny-font: 0.67rem;
    --small-font: 0.9rem;
    --normal-font: 1rem;
    --big-font: 1.1rem;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-image: url("assets/mypattern.png");
    color: var(--black-text);
    max-width: 1069px;
    height: 100vh;
}

.container {
    display: flex;
    gap: 8px;
    height: 100%;
    padding: 8px;
}

#sidebar-left,
#sidebar-right {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 8px;
    height: calc(100vh - 16px);
    overflow: hidden;
    gap: 1rem;
    font-size: 0.9rem;
}

#sidebar-left {
    width: 19.09%;
    max-width: 198px;
}

#content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50.05%;
    max-width: 519px;
}

#chat {
    flex-grow: 1;
    overflow-y: scroll;
}

#messages {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.input-container {
    position: sticky;
    bottom: 8px;
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid gainsboro;
    font-size: var(--small-font);
}

#input {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    align-items: center;
    gap: 0.25rem;
}

#file-preview {
    display: flex;
    gap: 0.25rem;
    width: 100%;
}

#input > div {
    width: 100%;
    display: flex;
}

#message-input {
    all: unset;
    width: 100%;
}

#file-input {
    display: none;
}

#status-bar {
    height: 1rem;
    display: flex;
    align-items: center;
    border-top: 1px dashed gainsboro;
    font-size: var(--tiny-font);
}

#sidebar-right {
    width: 30.86%;
    max-width: 320px;
}

#picture > img {
    width: 256px;
}

.box {
    display: flex;
    flex-direction: column;
    border: 1px solid gainsboro;
    background-color: rgb(240, 240, 240);
    flex-shrink: 0;
    gap: 0.75rem;
}

.box-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.span-height {
    flex-grow: 1;
}

.message {
    display: flex;
    gap: 0.25rem;
}

.timestamp {
    color: gray;
    font-size: var(--small-font);
}

.message-body {
    display: flex;
    flex-direction: column;
}

.message-details {
    display: flex;
    gap: 0.25rem;
}

.icon-wrapper {
    display: flex;
    position: relative;
    align-items: center;
}

.icon {
    object-fit: contain;
    object-position: center;
    cursor: pointer;
    height: 17px;
}

.tooltip {
    display: none;
    position: absolute;
    bottom: -126%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    font-size: var(--tiny-font);
    z-index: 999;
}

.icon-wrapper:hover .tooltip {
    display: block;
}

.sender {
    font-size: var(--small-font);
    color: rgb(45, 45, 45);
}

.content {
    font-size: var(--small-font);
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-all;
}

.attachments {
    flex-direction: column;
    gap: 0.25rem;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-all;
    display: none;
}

.spacer {
    height: 0.5rem;
}

@media (max-width: 640px) {
    #sidebar-left,
    #sidebar-right {
        display: none;
    }

    #content {
        width: 100%;
        max-width: 100%;
    }
}
